<div class="chat-container" *ngIf="isChatOpen">
    <div class="chat-history" #chatHistory>
      <div *ngFor="let message of chat_history" class="chat-message">
        <div *ngIf="message.usuario" class="user-message">{{ message.usuario }}</div>
        <div *ngIf="message.bot" class="bot-message" [innerHTML]="message.bot"></div>
      </div>
    </div>
    <div class="chat-input">
      <input type="text" [(ngModel)]="mensagem" placeholder="Digite sua mensagem" (keyup.enter)="sendMessage()">
      <button (click)="sendMessage()">Enviar</button>
    </div>
  </div>
  
  <button mat-fab class="fab-button" (click)="toggleChat()">
    <mat-icon>chat</mat-icon>
  </button>
  